body {
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(18% 28% at 24% 50%, #8379F8C2 4%, #8379F8C2 10%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #791CC55C 6%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #A9E2E7FF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D2FC6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #44107BF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #C9CE29F5 24%, #073AFF00 100%),linear-gradient(125deg, #AA545AFF 1%, #4C00FCFF 100%);
    color: white;
    margin: 0;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  min-height:750px;
}

#app {
    text-align: center;
    height: 100%;
}


/* CSS */
.cool_button {
  font-size: 20px;  
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:5px;
}

.cool_button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-cool_button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-cool_button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.cool_button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* CSS */
.meh_button {
  background-image: linear-gradient(#086573, #042752);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size:18px;
  margin: 5px;
  padding: 7px 11px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size:20px
  }

  h2 {
    font-size: 18px
  }

  h3 {
    font-size: 15px
  }

  h4 {
    font-size: 12px;
  }

  .cool_button {
    font-size: 15px;
  }

  .meh_button {
    font-size: 12px;
  }

  html, body {
    overflow: hidden;
  }
}
